/* Base Styles */
.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration-skip-ink: auto;
}

.App-header {
  text-align: center;
  padding: 20px;
  background-color: #e2a592; /* Default light theme header color */
}

.App-logo {
  height: 80px;
  width: auto;
  border-radius: 15px; /* Adjust the logo's shape */
}

.App-content {
  display: flex;
  flex: 1;
}

.App-sidebar {
  width: 250px;
  padding: 20px;
  background-color: #f0f0f0; /* Default light theme sidebar color */
}

.App-main {
  flex: 1;
  padding: 20px;
  background-color: #fff; /* Default light theme main content background */
}

.App-footer {
  background-color: #a07868; /* Default light theme footer color */
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

/* Dark Theme */
.App.dark {
  background-color: #1c1c1c;
  color: #f0f0f0;
}

.App-header.dark {
  background-color: #3e3e3e;
}

.App-sidebar.dark {
  background-color: #333;
}

.App-main.dark {
  background-color: #2b2b2b;
}

.App-footer.dark {
  background-color: #444;
}

/* Theme Toggle Button */
.theme-toggle {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}

.theme-toggle:hover {
  background-color: #0056b3;
}
